.fa-heart:hover,
.fa-heart:focus,
.fa-heart:active {
  font-weight: 900;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  animation: 2s ease-in-out fontgradient;
  -webkit-animation: fontgradient 2s ease-in-out;
  -moz-animation: fontgradient 2s ease-in-out;
}

@-webkit-keyframes fontgradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

@keyframes fontgradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

.plat:hover > .food {
  width: 250px;
  -webkit-transition: width 600ms;
  transition: width 600ms;
}

.plat:hover > .food > .food_1 p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.plat:hover > .food > .food_1 p > .food_1 span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.plat:hover > .box {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.plat:hover > .box > i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fonc .etape:hover, .fonc .etape:active, .fonc .etape:focus {
  background-color: #f2eafb;
}

.fonc .etape:hover i {
  color: #9356DC;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper {
  width: 375px;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.resto_card {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  height: 260px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
          box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.resto_card .green_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  padding: 6px 10px;
  color: #278870;
  margin: 0;
  font-size: 14px;
  border-radius: 2px;
}

.resto_img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
  -o-object-position: 50% 61%;
     object-position: 50% 61%;
}

.card_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 9px 18px;
  text-align: left;
}

.card_body .card_text p {
  font-size: 16px;
  font-weight: 200;
  padding-top: 3px;
}

.heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.fonc .etape {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 25px;
  width: 350px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
          box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
  margin-bottom: 25px;
}

.fonc .etape a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fonc .etape .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #9356DC;
  padding: 7px;
  border-radius: 30px;
  color: white;
  margin-left: -38px;
}

.fonc .etape i {
  color: #7e7e7e;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 24px;
}

.fonc .etape span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .logo {
  width: 180px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .logo img {
  max-height: 100%;
  max-width: 100%;
}

.location {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 4px 3px #d4d4d4 inset;
          box-shadow: 0px 4px 3px #d4d4d4 inset;
  padding: 15px;
}

.location i {
  padding-right: 20px;
}

.search {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  padding: 60px;
  margin-bottom: 40px;
}

.search .heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.search .heading_2 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.heading {
  font-size: 24px;
  font-weight: 700;
}

.btn-pink {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  padding: 15px 20px 15px 20px;
  border-radius: 36px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
          box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
  width: 220px;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header a {
  margin-right: -25px;
}

header .logo {
  width: 180px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .logo img {
  max-height: 100%;
  max-width: 100%;
  margin-left: 100px;
}

.top_1 {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.top_2 {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
}

.top_3 {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.top_4 {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.resto {
  background-color: #f6f6f6;
  height: 1260px;
  padding: 40px 15px 40px 15px;
}

.resto .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1200px;
  border-radius: 35px 35px 0px 0px;
  margin-top: -35px;
  padding: 0px 20px;
  background-color: #f6f6f6;
}

.menu .part {
  margin-bottom: 30px;
}

.menu i {
  padding-right: 10px;
}

.menu .big_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0px;
}

.menu .big_title span {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 800;
}

.menu .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-pink {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  padding: 15px 20px 15px 20px;
  border-radius: 36px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
          box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
  width: 220px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.btn-pink:hover .btn-pink__bg {
  opacity: 1;
}

.btn-pink__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e4d5f6;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.heading_menu {
  border-bottom: solid 3px #99E2D0;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 40px;
}

.plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  padding: 15px;
  margin: 0px -5px 15px -5px;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
          box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
  overflow: hidden;
}

.plat i {
  color: white;
  margin: auto;
  padding-right: 0px;
  font-size: 20px;
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.plat .box {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 70px;
  height: 71px;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-right: -17px;
  border-radius: 0px 15px 15px 0px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 325px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.food .name1 {
  font-size: 16px;
  font-weight: 400;
}

.food .name2 {
  font-size: 14px;
  font-weight: 200;
  padding-top: 5px;
}

.food .price {
  padding-right: 10px;
}

.foot {
  background-color: #353535;
  color: white;
  padding-bottom: 15px;
}

.foot a {
  color: white;
}

.foot li {
  padding: 4px;
}

.foot i {
  padding-right: 10px;
}

.foot .foot-logo {
  width: 120px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.foot .foot-logo img {
  max-height: 100%;
  max-width: 100%;
}

.foot .logo-footer {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.foot .footer-text {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */