.fa-heart:hover,
.fa-heart:focus,
.fa-heart:active {
    transition: all .5s ease-in-out;
    background-clip: text;
    font-weight: 900;
    background-image: $gradient;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.plat:hover {

    &>.box {

        transform: scaleX(1);

        &>i {

            transform: rotate(360deg);
        }
    }

}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    animation-name: fadeInUp;
}