$primColor: #9356DC;
$secondColor: #FF79DA;
$tertColor: #99E2D0;
$greyLight: #f6f6f6;
$greyDark: #7e7e7e;
$greyMed: #eaeaea;
$greyDarkFoot: #353535;
$shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 2px 10px 0 rgba(50, 50, 50, 0.2);
$gradient: linear-gradient(0deg, $primColor 0%, $secondColor 100%);