.container {
    position: absolute;
}

.load {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;


    &__bar {
        background-color: $primColor;
        height: 100%;
        width: 10px;

    }
}