$num-bars: 7;
$anim-dur: 1500ms;


.container {
    position: fixed;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    animation: fade;
    animation-duration: 0s;
    animation-delay: 4s;
    animation-fill-mode: forwards;


}

.load {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}



.load__bar--1 {
    animation-delay: 1000ms;
}

.load__bar--2 {
    animation-delay: 800ms;
}

.load__bar--3 {
    animation-delay: 600ms;
}

.load__bar--4 {
    animation-delay: 400ms;
}

.load__bar--5 {
    animation-delay: 600ms;
}

.load__bar--6 {
    animation-delay: 800ms;
}

.load__bar--7 {
    animation-delay: 1000ms;
}



.load {
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;


    &__bar {
        background-image: $gradient;
        height: 100%;
        width: 13px;

        &--1,
        &--7 {
            animation: bars_1 $anim-dur infinite backwards ease-in-out;

        }


        &--2,
        &--6 {
            animation: bars_2 $anim-dur infinite backwards ease-in-out;
        }

        &--3,
        &--5 {
            animation: bars_3 $anim-dur infinite backwards ease-in-out;

        }

        &--4 {
            animation: bars_5 $anim-dur infinite backwards ease-in-out, bars_4 $anim-dur infinite backwards ease-in-out;


        }

    }
}


@keyframes bars_1 {
    0% {
        transform: scaleX(1.0) scaleY(1.0);


    }

    100% {
        transform: scaleX(1.5) scaleY(0.4);

    }


}

@keyframes bars_2 {
    0% {
        transform: scaleX(1.0) scaleY(1.0);

    }

    100% {
        transform: scaleX(1.8) scaleY(0.8);
    }

}

@keyframes bars_3 {
    0% {
        transform: scaleX(1.0) scaleY(1.0);

    }

    100% {
        transform: scaleX(1.8) scaleY(0.7);
    }

}

@keyframes bars_4 {

    0% {
        transform: scaleY(1.0);
        transform-origin: 0% 100%;

    }


    100% {
        transform: scaleY(0.6);
        transform-origin: 0% 100%;
    }

}

@keyframes bars_5 {

    0% {
        transform: scaleX(1.0);
        transform-origin: 50% 50%;
    }


    100% {
        transform: scaleX(2.0);
        transform-origin: 50% 50%;
    }

}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}