.menu {
    height: 2000px;
    border-radius: 35px 35px 0px 0px;
    margin-top: -35px;
    background-color: $greyLight;

    .big_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 35px 25px;

        span {
            @include big_title();
        }
    }

}