header {
    @include flexCenter(row);

    a {
        margin-right: -25px;
    }

    .logo {
        width: 180px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        img {
            max-height: 100%;
            max-width: 100%;
            margin-left: 100px;

        }

    }
}




.top_1 {
    width: 100%;
    background-size: cover;
    height: 250px;
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.top_2 {
    width: 100%;
    background-size: cover;
    height: 250px;
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-position: center;
}

.top_3 {
    width: 100%;
    background-size: cover;
    height: 250px;
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.top_4 {
    width: 100%;
    background-size: cover;
    height: 250px;
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}