@media (min-width:769px) and (max-width:991px) {
    #wrapper {
        width: auto;
    }
}

@media (min-width: 992px) {
    #wrapper {
        width: auto;
    }

    .list {
        display: flex;
        flex-direction: row;
    }

    .resto_card {
        width: 50%;
    }


}